.cover__subtitle {
    margin-top: 32px;
    max-width: 360px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
  }
  
  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      margin-top: 16px;
      padding: 0 16px;
    }
  }