.intro__paragraph {
    max-width: 690px;
    padding-top: 40px;
    padding-bottom: 33px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
  }
  
  @media screen and (max-width: 768px) {
    .intro__paragraph {
      max-width: 720px;
      margin: 0 auto;
      line-height: 163%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro__paragraph {
      max-width: 288px;
    }
  }