.intro__paragraph {
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .intro__paragraph {
      max-width: 720px;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 33px;
      font-size: 16px;
      line-height: 163%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro__paragraph {
      max-width: 288px;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 34px;
      font-size: 16px;
      line-height: 163%;
    }
  }