.place__link {
    cursor: pointer;
    color: #FFF;
    font-style:  normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: opacity 0.2s linear 0s;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }